<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .laxvaL {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  data-styled.g27[id="sc-fzXfMC"] {
    content: "laxvaL,"
  }

  .egkRsx {
    background-color: #ff9a01;
    padding: 10px;
  }

  .egkRsx h1 {
    color: white;
    font-size: 28px;
  }

  .egkRsx h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g28[id="sc-fzXfMD"] {
    content: "egkRsx,"
  }

  .fOeQdA {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .fOeQdA h1 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .fOeQdA h2 {
    font-size: 17px;
    color: rgb(128, 128, 128);
  }

  .fOeQdA>div {
    padding: 0px 5px;
  }

  .fOeQdA>div:first-child {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0px;
  }

  .fOeQdA>div:last-child {
    padding-right: 0px;
  }

  data-styled.g64[id="sc-fzXfPb"] {
    content: "fOeQdA,"
  }

  .eiNiCc {
    background-color: #29c729;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  .kFjlrx {
    background-color: #f9f95f;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  .edXXJE {
    background-color: #ff6868;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  data-styled.g65[id="sc-fzXfPc"] {
    content: "eiNiCc,kFjlrx,edXXJE,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMC laxvaL">
  <div class="sc-fzXfMD egkRsx">
    <h1>Estado resumen según taller</h1>
    <h2>Estado trabajos taller</h2>
  </div>
  <div class="sc-fzXfME bAzGHK">
    <div class="sc-fzXfPb fOeQdA">
      <div>
        <h1>Taller sin Golpes</h1>
        <h2>30 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPc eiNiCc">20</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPc kFjlrx">10</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPc edXXJE">10</div>
      </div>
    </div>
    <div class="sc-fzXfPb fOeQdA">
      <div>
        <h1>Taller Ratoncito</h1>
        <h2>76 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPc eiNiCc">30</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPc kFjlrx">10</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPc edXXJE">36</div>
      </div>
    </div>
    <div class="sc-fzXfPb fOeQdA">
      <div>
        <h1>Taller La Rueda</h1>
        <h2>12 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPc eiNiCc">6</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPc kFjlrx">4</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPc edXXJE">2</div>
      </div>
    </div>
    <div class="sc-fzXfPb fOeQdA">
      <div>
        <h1>Taller Pulento</h1>
        <h2>91 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPc eiNiCc">36</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPc kFjlrx">40</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPc edXXJE">15</div>
      </div>
    </div>
  </div>
</div>