<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .fILqBV {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  data-styled.g23[id="sc-fzXfMy"] {
    content: "fILqBV,"
  }

  .qGMMn {
    background-color: #ff9a01;
    padding: 10px;
  }

  .qGMMn h1 {
    color: white;
    font-size: 28px;
  }

  .qGMMn h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g24[id="sc-fzXfMz"] {
    content: "qGMMn,"
  }

  .gBKtwT {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gBKtwT h1 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .gBKtwT h2 {
    font-size: 17px;
    color: rgb(128, 128, 128);
  }

  .gBKtwT>div {
    padding: 0px 5px;
  }

  .gBKtwT>div:first-child {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0px;
  }

  .gBKtwT>div:last-child {
    padding-right: 0px;
  }

  data-styled.g63[id="sc-fzXfPa"] {
    content: "gBKtwT,"
  }

  .bkVGhL {
    background-color: #29c729;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  .hHrIXg {
    background-color: #f9f95f;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  .bggvpn {
    background-color: #ff6868;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 40px;
    text-align: center;
  }

  data-styled.g64[id="sc-fzXfPb"] {
    content: "bkVGhL,hHrIXg,bggvpn,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMy fILqBV">
  <div class="sc-fzXfMz qGMMn">
    <h1>Estado resumen según taller</h1>
    <h2>Estado trabajos taller</h2>
  </div>
  <div class="sc-fzXfMA bAzGHG">
    <div class="sc-fzXfPa gBKtwT">
      <div>
        <h1>Taller sin Golpes</h1>
        <h2>30 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPb bkVGhL">20</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPb hHrIXg">10</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPb bggvpn">10</div>
      </div>
    </div>
    <div class="sc-fzXfPa gBKtwT">
      <div>
        <h1>Taller Ratoncito</h1>
        <h2>76 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPb bkVGhL">30</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPb hHrIXg">10</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPb bggvpn">36</div>
      </div>
    </div>
    <div class="sc-fzXfPa gBKtwT">
      <div>
        <h1>Taller La Rueda</h1>
        <h2>12 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPb bkVGhL">6</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPb hHrIXg">4</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPb bggvpn">2</div>
      </div>
    </div>
    <div class="sc-fzXfPa gBKtwT">
      <div>
        <h1>Taller Pulento</h1>
        <h2>91 Vehículos</h2>
      </div>
      <div>
        <div color="#29c729" class="sc-fzXfPb bkVGhL">36</div>
      </div>
      <div>
        <div color="#f9f95f" class="sc-fzXfPb hHrIXg">40</div>
      </div>
      <div>
        <div color="#ff6868" class="sc-fzXfPb bggvpn">15</div>
      </div>
    </div>
  </div>
</div>