{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "minify": false,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ]
  ]
}