<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .bgiVpR {
    width: 40px;
    height: 40px;
    fill: white;
  }

  data-styled.g2[id="sc-AykKD"] {
    content: "bgiVpR,"
  }
</style>

<!-- HTML -->
<svg class="sc-AykKC sc-AykKD bgiVpR" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
  <path d="M0 0h24v24H0z" fill="none"></path>
</svg>