<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .hJWADG {
    width: 100%;
  }

  data-styled.g26[id="sc-fzXfMB"] {
    content: "hJWADG,"
  }

  .fwfnNi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  data-styled.g30[id="sc-fzXfNc"] {
    content: "fwfnNi,"
  }

  .eaxAmQ {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  data-styled.g31[id="sc-fzXfNd"] {
    content: "eaxAmQ,"
  }

  .jPtipJ {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
  }

  data-styled.g47[id="sc-fzXfNQ"] {
    content: "jPtipJ,"
  }

  .dBKGyD {
    background-color: rgb(198, 200, 201);
    padding: 10px;
  }

  .dBKGyD h1 {
    max-width: 800px;
    margin: auto;
    color: rgb(73, 85, 88);
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 12px;
    position: relative;
  }

  .dBKGyD h1::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(251, 255, 9);
    border-radius: 100%;
    left: 0px;
    top: 50%;
    margin-top: -3px;
  }

  .dBKGyD h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g48[id="sc-fzXfNR"] {
    content: "dBKGyD,"
  }

  .iYNuCa {
    padding: 10px;
    background-color: white;
    max-width: calc(800px - 12px);
    margin: auto;
  }

  data-styled.g49[id="sc-fzXfNS"] {
    content: "iYNuCa,"
  }

  .ddQKHM {
    max-height: 200px;
    overflow: scroll;
    border: solid 1px black;
  }

  data-styled.g55[id="sc-fzXfOv"] {
    content: "ddQKHM,"
  }

  .ctgAwU {
    background-color: rgb(248, 0, 7);
    color: white;
    text-transform: uppercase;
    border: solid 1px black;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
  }

  data-styled.g56[id="sc-fzXfOw"] {
    content: "ctgAwU,"
  }

  .bAHooE {
    font-size: 200;
    text-align: center;
  }

  .bAHooE thead {
    font-weight: 600;
  }

  .bAHooE thead td {
    padding-bottom: 10px;
  }

  data-styled.g57[id="sc-fzXfOx"] {
    content: "bAHooE,"
  }

  .jIlQkH {
    font-family: 'Source Code Pro', monospace;
  }

  data-styled.g58[id="sc-fzXfOy"] {
    content: "jIlQkH,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfNQ jPtipJ">
  <div class="sc-fzXfNR dBKGyD">
    <h1>Presupuesto sin revisar</h1>
  </div>
  <div class="sc-fzXfNS iYNuCa">
    <div class="sc-fzXfNc fwfnNi">
      <div class="sc-fzXfNd eaxAmQ"></div>
      <div class="sc-fzXfNd eaxAmQ"></div>
      <div class="sc-fzXfNd eaxAmQ">
        <div class="sc-fzXfOw ctgAwU">11 Días</div>
        <div class="sc-fzXfOv ddQKHM">
          <table class="sc-fzXfMB hJWADG sc-fzXfOx bAHooE">
            <thead>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">IDE</td>
                <td class="sc-fzXfME bAzGHK">PATENTES</td>
              </tr>
            </thead>
            <tbody>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7959</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">CPFA-43</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5219</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">CQAF-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4346</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">QEFH-27</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7793</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">KPJQ-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0346</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">GINB-97</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5806</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">HIAA-71</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9585</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">GBIQ-29</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4477</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">GCCM-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7245</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">EOKL-42</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5392</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">GOMQ-76</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9246</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">AAJI-37</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4593</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">NBEK-89</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0061</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">DJDP-46</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4328</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">ABQM-65</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1324</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">IBHG-69</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7807</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">OEDJ-87</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5236</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">HNFP-85</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">2514</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">EJJM-53</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5266</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">ONFB-35</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7821</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">HKBG-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1195</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">AHQI-44</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1700</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">DNQP-39</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7746</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">ONAB-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8742</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">DCFA-09</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">6870</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">EGDD-62</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8318</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">KHME-67</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1152</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">PDJE-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7611</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">OMQE-81</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7737</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">EBIF-18</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4708</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">EDLG-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">3302</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">NJOF-11</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8046</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">DGOH-38</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5394</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">CPGI-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1641</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">FOFP-24</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9527</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">LMIG-21</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0539</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">KOKL-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5022</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">HIDJ-13</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0672</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">ICJE-92</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9282</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">OLHC-59</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9889</td>
                <td class="sc-fzXfME sc-fzXfOy jIlQkH">IONP-21</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>