<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .hJWADG {
    width: 100%;
  }

  data-styled.g26[id="sc-fzXfMB"] {
    content: "hJWADG,"
  }

  .idAkJG {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  data-styled.g30[id="sc-fzXfNc"] {
    content: "idAkJG,"
  }

  .lenLzR {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  data-styled.g31[id="sc-fzXfNd"] {
    content: "lenLzR,"
  }

  .jPtipJ {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
  }

  data-styled.g47[id="sc-fzXfNQ"] {
    content: "jPtipJ,"
  }

  .jUCUjs {
    background-color: rgb(198, 200, 201);
    padding: 10px;
  }

  .jUCUjs h1 {
    max-width: 1000px;
    margin: auto;
    color: rgb(73, 85, 88);
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 12px;
    position: relative;
  }

  .jUCUjs h1::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(251, 255, 9);
    border-radius: 100%;
    left: 0px;
    top: 50%;
    margin-top: -3px;
  }

  .jUCUjs h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g48[id="sc-fzXfNR"] {
    content: "jUCUjs,"
  }

  .jvsWHL {
    padding: 10px;
    background-color: white;
    max-width: calc(1000px - 12px);
    margin: auto;
  }

  data-styled.g49[id="sc-fzXfNS"] {
    content: "jvsWHL,"
  }

  .gHJwYt {
    max-height: 200px;
    overflow: scroll;
    border: solid 1px black;
  }

  data-styled.g56[id="sc-fzXfOw"] {
    content: "gHJwYt,"
  }

  .gaFZib {
    min-width: 200px;
    background-color: rgb(248, 0, 7);
    color: white;
    text-transform: uppercase;
    border: solid 1px black;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
  }

  data-styled.g57[id="sc-fzXfOx"] {
    content: "gaFZib,"
  }

  .jcWQLZ {
    font-size: 200;
    text-align: center;
  }

  .jcWQLZ thead {
    font-weight: 600;
  }

  .jcWQLZ thead td {
    padding-bottom: 10px;
  }

  data-styled.g58[id="sc-fzXfOy"] {
    content: "jcWQLZ,"
  }

  .hFHnCQ {
    font-family: 'Source Code Pro', monospace;
  }

  data-styled.g59[id="sc-fzXfOz"] {
    content: "hFHnCQ,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfNQ jPtipJ">
  <div class="sc-fzXfNR jUCUjs">
    <h1>Presupuesto sin revisar</h1>
  </div>
  <div class="sc-fzXfNS jvsWHL">
    <div class="sc-fzXfNc idAkJG">
      <div class="sc-fzXfNd lenLzR"></div>
      <div class="sc-fzXfNd lenLzR"></div>
      <div class="sc-fzXfNd lenLzR">
        <div class="sc-fzXfOx gaFZib">11 Días</div>
        <div class="sc-fzXfOw gHJwYt">
          <table class="sc-fzXfMB hJWADG sc-fzXfOy jcWQLZ">
            <thead>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">IDE</td>
                <td class="sc-fzXfME bAzGHK">PATENTES</td>
              </tr>
            </thead>
            <tbody>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7959</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">CPFA-43</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5219</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">CQAF-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4346</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">QEFH-27</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7793</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">KPJQ-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0346</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">GINB-97</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5806</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">HIAA-71</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9585</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">GBIQ-29</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4477</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">GCCM-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7245</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">EOKL-42</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5392</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">GOMQ-76</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9246</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">AAJI-37</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4593</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">NBEK-89</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0061</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">DJDP-46</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4328</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">ABQM-65</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1324</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">IBHG-69</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7807</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">OEDJ-87</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5236</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">HNFP-85</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">2514</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">EJJM-53</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5266</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">ONFB-35</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7821</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">HKBG-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1195</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">AHQI-44</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1700</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">DNQP-39</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7746</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">ONAB-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8742</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">DCFA-09</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">6870</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">EGDD-62</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8318</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">KHME-67</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1152</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">PDJE-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7611</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">OMQE-81</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7737</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">EBIF-18</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4708</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">EDLG-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">3302</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">NJOF-11</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8046</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">DGOH-38</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5394</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">CPGI-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1641</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">FOFP-24</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9527</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">LMIG-21</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0539</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">KOKL-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5022</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">HIDJ-13</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0672</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">ICJE-92</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9282</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">OLHC-59</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9889</td>
                <td class="sc-fzXfME sc-fzXfOz hFHnCQ">IONP-21</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>