<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .KLcxA {
    width: 100%;
  }

  data-styled.g30[id="sc-fzXfNc"] {
    content: "KLcxA,"
  }

  .kUAbKa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  data-styled.g34[id="sc-fzXfNg"] {
    content: "kUAbKa,"
  }

  .bWuuVh {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  data-styled.g35[id="sc-fzXfNh"] {
    content: "bWuuVh,"
  }

  .eglMyX {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
  }

  data-styled.g51[id="sc-fzXfOr"] {
    content: "eglMyX,"
  }

  .gbqJLu {
    background-color: rgb(198, 200, 201);
    padding: 10px;
  }

  .gbqJLu h1 {
    max-width: 1000px;
    margin: auto;
    color: rgb(73, 85, 88);
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 12px;
    position: relative;
  }

  .gbqJLu h1::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(251, 255, 9);
    border-radius: 100%;
    left: 0px;
    top: 50%;
    margin-top: -3px;
  }

  .gbqJLu h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g52[id="sc-fzXfOs"] {
    content: "gbqJLu,"
  }

  .pCpfN {
    padding: 10px;
    background-color: white;
    max-width: calc(1000px - 12px);
    margin: auto;
  }

  data-styled.g53[id="sc-fzXfOt"] {
    content: "pCpfN,"
  }

  .SoolB {
    max-height: 200px;
    overflow: scroll;
    border: solid 1px black;
  }

  .SoolB a {
    color: black;
    -webkit-text-decoration: none;
    text-decoration: none;
  }

  data-styled.g60[id="sc-fzXfOX"] {
    content: "SoolB,"
  }

  .cCrFPU {
    min-width: 200px;
    background-color: rgb(248, 0, 7);
    color: white;
    text-transform: uppercase;
    border: solid 1px black;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
  }

  data-styled.g61[id="sc-fzXfOY"] {
    content: "cCrFPU,"
  }

  .bgaAsW {
    font-size: 200;
    text-align: center;
  }

  .bgaAsW thead {
    font-weight: 600;
  }

  .bgaAsW thead td {
    padding-bottom: 10px;
  }

  data-styled.g62[id="sc-fzXfOZ"] {
    content: "bgaAsW,"
  }

  .cAsBRg {
    font-family: 'Source Code Pro', monospace;
  }

  data-styled.g63[id="sc-fzXfPa"] {
    content: "cAsBRg,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfOr eglMyX">
  <div class="sc-fzXfOs gbqJLu">
    <h1>Presupuesto sin revisar</h1>
  </div>
  <div class="sc-fzXfOt pCpfN">
    <div class="sc-fzXfNg kUAbKa">
      <div class="sc-fzXfNh bWuuVh"><svg></svg></div>
      <div class="sc-fzXfNh bWuuVh">
        <div class="sc-fzXfOY cCrFPU">11 Días</div>
        <div class="sc-fzXfOX SoolB">
          <table class="sc-fzXfNc KLcxA sc-fzXfOZ bgaAsW">
            <thead>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY">ID</td>
                <td class="sc-fzXfNf bAzGIY">PATENTES</td>
              </tr>
            </thead>
            <tbody>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7959</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">CPFA-43</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5219</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">CQAF-06</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">4346</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">QEFH-27</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7793</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">KPJQ-12</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">0346</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">GINB-97</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5806</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">HIAA-71</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">9585</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">GBIQ-29</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">4477</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">GCCM-12</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7245</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">EOKL-42</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5392</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">GOMQ-76</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">9246</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">AAJI-37</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">4593</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">NBEK-89</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">0061</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">DJDP-46</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">4328</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">ABQM-65</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">1324</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">IBHG-69</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7807</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">OEDJ-87</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5236</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">HNFP-85</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">2514</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">EJJM-53</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5266</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">ONFB-35</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7821</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">HKBG-73</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">1195</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">AHQI-44</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">1700</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">DNQP-39</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7746</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">ONAB-06</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">8742</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">DCFA-09</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">6870</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">EGDD-62</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">8318</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">KHME-67</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">1152</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">PDJE-73</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7611</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">OMQE-81</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">7737</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">EBIF-18</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">4708</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">EDLG-12</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">3302</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">NJOF-11</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">8046</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">DGOH-38</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5394</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">CPGI-72</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">1641</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">FOFP-24</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">9527</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">LMIG-21</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">0539</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">KOKL-72</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">5022</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">HIDJ-13</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">0672</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">ICJE-92</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">9282</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">OLHC-59</a></td>
              </tr>
              <tr class="sc-fzXfNd bAzGIW">
                <td class="sc-fzXfNf bAzGIY"><a href="/siniestros/presupuesto">9889</a></td>
                <td class="sc-fzXfNf sc-fzXfPa cAsBRg"><a href="/siniestros/presupuesto">IONP-21</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>