<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .bgiVpR {
    width: 40px;
    height: 40px;
    fill: white;
  }

  data-styled.g2[id="sc-AykKD"] {
    content: "bgiVpR,"
  }
</style>

<!-- HTML -->
<svg class="sc-AykKC sc-AykKD bgiVpR" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
  <path d="M0 0h24v24H0z" fill="none"></path>
</svg>