<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .bvyDSg {
    display: inline-block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Source Sans Pro', sans-serif;
    color: #818e9a;
    font-size: 24px;
  }

  data-styled.g12[id="sc-fzXfLQ"] {
    content: "bvyDSg,"
  }

  .evuuif {
    margin: 0px 28px;
  }

  data-styled.g13[id="sc-fzXfLR"] {
    content: "evuuif,"
  }

  .bInkHw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    border-bottom: solid 1px #818e9a;
  }

  .bInkHw .sc-AykKC {
    width: 35px;
    height: 35px;
    fill: #818e9a;
  }

  data-styled.g14[id="sc-fzXfLS"] {
    content: "bInkHw,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfLS bInkHw">
  <div class="sc-fzXfLR evuuif"></div>
  <div class="sc-fzXfLQ bvyDSg">{title}</div>
</div>