<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .jMqDPv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  data-styled.g9[id="sc-AykKK"] {
    content: "jMqDPv,"
  }

  .hhlSIs {
    color: #7f7f7f;
    padding: 0px 20px 5px 20px;
    font-size: 20px;
  }

  data-styled.g10[id="sc-fzXfLO"] {
    content: "hhlSIs,"
  }

  .pAVlK {
    background: red;
    height: 25px;
    position: relative;
  }

  data-styled.g11[id="sc-fzXfLP"] {
    content: "pAVlK,"
  }

  .dUMlXH {
    height: 25px;
    display: inline-block;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  data-styled.g12[id="sc-fzXfLQ"] {
    content: "dUMlXH,"
  }

  .egkRsx {
    background-color: #ff9a01;
    padding: 10px;
  }

  .egkRsx h1 {
    color: white;
    font-size: 28px;
  }

  .egkRsx h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g28[id="sc-fzXfMD"] {
    content: "egkRsx,"
  }

  .KLcxA {
    width: 100%;
  }

  data-styled.g30[id="sc-fzXfNc"] {
    content: "KLcxA,"
  }

  .cSsnge {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  .cSsnge .sc-fzXfNf {
    padding: 20px;
  }

  data-styled.g37[id="sc-fzXfNj"] {
    content: "cSsnge,"
  }

  .kFuNhf {
    font-size: 20px;
  }

  data-styled.g38[id="sc-fzXfNk"] {
    content: "kFuNhf,"
  }

  .bDfRKB {
    padding-bottom: 10px;
  }

  data-styled.g39[id="sc-fzXfNl"] {
    content: "bDfRKB,"
  }

  .lfxQiX {
    color: #808080;
  }

  data-styled.g40[id="sc-fzXfNJ"] {
    content: "lfxQiX,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMC sc-fzXfNj cSsnge">
  <div class="sc-fzXfMD egkRsx">
    <h1>Autos por zona</h1>
    <h2>Día v/s atrasados.</h2>
  </div>
  <div class="sc-fzXfME bAzGHK">
    <table class="sc-fzXfNc KLcxA">
      <tbody>
        <tr class="sc-fzXfNd bAzGIW">
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-AykKJ jiZwic">
              <div class="sc-AykKK jMqDPv">
                <div class="sc-fzXfLO hhlSIs">160</div>
                <div class="sc-fzXfLO hhlSIs">140</div>
              </div>
              <div class="sc-fzXfLP pAVlK"><span style="width:50%" class="sc-fzXfLQ dUMlXH"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-fzXfNk kFuNhf">
              <div class="sc-fzXfNl bDfRKB">Centro</div>
              <div class="sc-fzXfNJ lfxQiX">300 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNd bAzGIW">
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-AykKJ jiZwic">
              <div class="sc-AykKK jMqDPv">
                <div class="sc-fzXfLO hhlSIs">76</div>
                <div class="sc-fzXfLO hhlSIs">200</div>
              </div>
              <div class="sc-fzXfLP pAVlK"><span style="width:25%" class="sc-fzXfLQ dUMlXH"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-fzXfNk kFuNhf">
              <div class="sc-fzXfNl bDfRKB">Centro Sur</div>
              <div class="sc-fzXfNJ lfxQiX">276 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNd bAzGIW">
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-AykKJ jiZwic">
              <div class="sc-AykKK jMqDPv">
                <div class="sc-fzXfLO hhlSIs">99</div>
                <div class="sc-fzXfLO hhlSIs">31</div>
              </div>
              <div class="sc-fzXfLP pAVlK"><span style="width:75%" class="sc-fzXfLQ dUMlXH"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-fzXfNk kFuNhf">
              <div class="sc-fzXfNl bDfRKB">Centro Norte</div>
              <div class="sc-fzXfNJ lfxQiX">120 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNd bAzGIW">
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-AykKJ jiZwic">
              <div class="sc-AykKK jMqDPv">
                <div class="sc-fzXfLO hhlSIs">60</div>
                <div class="sc-fzXfLO hhlSIs">31</div>
              </div>
              <div class="sc-fzXfLP pAVlK"><span style="width:60%" class="sc-fzXfLQ dUMlXH"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNf bAzGIY">
            <div class="sc-fzXfNk kFuNhf">
              <div class="sc-fzXfNl bDfRKB">Sur</div>
              <div class="sc-fzXfNJ lfxQiX">91 Vehículos</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>