<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .iPldLK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  data-styled.g8[id="sc-AykKJ"] {
    content: "iPldLK,"
  }

  .upbOm {
    color: #7f7f7f;
    padding: 0px 20px 5px 20px;
    font-size: 20px;
  }

  data-styled.g9[id="sc-AykKK"] {
    content: "upbOm,"
  }

  .hssnyF {
    background: red;
    height: 25px;
    position: relative;
  }

  data-styled.g10[id="sc-fzXfLO"] {
    content: "hssnyF,"
  }

  .hWSsti {
    height: 25px;
    display: inline-block;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  data-styled.g11[id="sc-fzXfLP"] {
    content: "hWSsti,"
  }

  .dDmfRI {
    background-color: #ff9a01;
    padding: 10px;
  }

  .dDmfRI h1 {
    color: white;
    font-size: 28px;
  }

  .dDmfRI h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g27[id="sc-fzXfMC"] {
    content: "dDmfRI,"
  }

  .fqGlWx {
    width: 100%;
  }

  data-styled.g29[id="sc-fzXfME"] {
    content: "fqGlWx,"
  }

  .jvXgQI {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  .jvXgQI .sc-fzXfNe {
    padding: 20px;
  }

  data-styled.g36[id="sc-fzXfNi"] {
    content: "jvXgQI,"
  }

  .fCodVe {
    font-size: 20px;
  }

  data-styled.g37[id="sc-fzXfNj"] {
    content: "fCodVe,"
  }

  .heRruA {
    padding-bottom: 10px;
  }

  data-styled.g38[id="sc-fzXfNk"] {
    content: "heRruA,"
  }

  .ixhKvp {
    color: #808080;
  }

  data-styled.g39[id="sc-fzXfNl"] {
    content: "ixhKvp,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMB sc-fzXfNi jvXgQI">
  <div class="sc-fzXfMC dDmfRI">
    <h1>Autos por zona</h1>
    <h2>Día v/s atrasados.</h2>
  </div>
  <div class="sc-fzXfMD bAzGHJ">
    <table class="sc-fzXfME fqGlWx">
      <tbody>
        <tr class="sc-fzXfNc bAzGIV">
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-AykKI jiZwib">
              <div class="sc-AykKJ iPldLK">
                <div class="sc-AykKK upbOm">160</div>
                <div class="sc-AykKK upbOm">140</div>
              </div>
              <div class="sc-fzXfLO hssnyF"><span style="width:50%" class="sc-fzXfLP hWSsti"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-fzXfNj fCodVe">
              <div class="sc-fzXfNk heRruA">Centro</div>
              <div class="sc-fzXfNl ixhKvp">300 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNc bAzGIV">
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-AykKI jiZwib">
              <div class="sc-AykKJ iPldLK">
                <div class="sc-AykKK upbOm">76</div>
                <div class="sc-AykKK upbOm">200</div>
              </div>
              <div class="sc-fzXfLO hssnyF"><span style="width:25%" class="sc-fzXfLP hWSsti"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-fzXfNj fCodVe">
              <div class="sc-fzXfNk heRruA">Centro Sur</div>
              <div class="sc-fzXfNl ixhKvp">276 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNc bAzGIV">
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-AykKI jiZwib">
              <div class="sc-AykKJ iPldLK">
                <div class="sc-AykKK upbOm">99</div>
                <div class="sc-AykKK upbOm">31</div>
              </div>
              <div class="sc-fzXfLO hssnyF"><span style="width:75%" class="sc-fzXfLP hWSsti"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-fzXfNj fCodVe">
              <div class="sc-fzXfNk heRruA">Centro Norte</div>
              <div class="sc-fzXfNl ixhKvp">120 Vehículos</div>
            </div>
          </td>
        </tr>
        <tr class="sc-fzXfNc bAzGIV">
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-AykKI jiZwib">
              <div class="sc-AykKJ iPldLK">
                <div class="sc-AykKK upbOm">60</div>
                <div class="sc-AykKK upbOm">31</div>
              </div>
              <div class="sc-fzXfLO hssnyF"><span style="width:60%" class="sc-fzXfLP hWSsti"></span></div>
            </div>
          </td>
          <td class="sc-fzXfNe bAzGIX">
            <div class="sc-fzXfNj fCodVe">
              <div class="sc-fzXfNk heRruA">Sur</div>
              <div class="sc-fzXfNl ixhKvp">91 Vehículos</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>