<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .hJWADG {
    width: 100%;
  }

  data-styled.g26[id="sc-fzXfMB"] {
    content: "hJWADG,"
  }

  .idAkJG {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  data-styled.g30[id="sc-fzXfNc"] {
    content: "idAkJG,"
  }

  .lenLzR {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  data-styled.g31[id="sc-fzXfNd"] {
    content: "lenLzR,"
  }

  .jPtipJ {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
  }

  data-styled.g47[id="sc-fzXfNQ"] {
    content: "jPtipJ,"
  }

  .jUCUjs {
    background-color: rgb(198, 200, 201);
    padding: 10px;
  }

  .jUCUjs h1 {
    max-width: 1000px;
    margin: auto;
    color: rgb(73, 85, 88);
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 12px;
    position: relative;
  }

  .jUCUjs h1::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(251, 255, 9);
    border-radius: 100%;
    left: 0px;
    top: 50%;
    margin-top: -3px;
  }

  .jUCUjs h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g48[id="sc-fzXfNR"] {
    content: "jUCUjs,"
  }

  .jvsWHL {
    padding: 10px;
    background-color: white;
    max-width: calc(1000px - 12px);
    margin: auto;
  }

  data-styled.g49[id="sc-fzXfNS"] {
    content: "jvsWHL,"
  }

  .cbBVqJ {
    text-transform: uppercase;
    border: solid 1px black;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 100px;
    width: 150px;
    margin-bottom: 10px;
  }

  .cbBVqJ.actived {
    background-color: rgb(165, 197, 88);
  }

  data-styled.g50[id="sc-fzXfOq"] {
    content: "cbBVqJ,"
  }

  .dPwSg {
    max-height: 200px;
    overflow: scroll;
    border: solid 1px black;
  }

  data-styled.g51[id="sc-fzXfOr"] {
    content: "dPwSg,"
  }

  .dsPibT {
    min-width: 200px;
    background-color: rgb(34, 255, 6);
    text-transform: uppercase;
    border: solid 1px black;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
  }

  data-styled.g52[id="sc-fzXfOs"] {
    content: "dsPibT,"
  }

  .flKgVM {
    font-size: 200;
    text-align: center;
  }

  .flKgVM thead {
    font-weight: 600;
  }

  .flKgVM thead td {
    padding-bottom: 10px;
  }

  data-styled.g53[id="sc-fzXfOt"] {
    content: "flKgVM,"
  }

  .gDirrb {
    font-family: 'Source Code Pro', monospace;
  }

  data-styled.g54[id="sc-fzXfOu"] {
    content: "gDirrb,"
  }

  .jDbmlR {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(252, 255, 13);
  }

  .gIMCZR {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(34, 255, 6);
  }

  .cXqTzK {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(176, 176, 176);
  }

  .gnEQlq {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(251, 0, 6);
  }

  data-styled.g55[id="sc-fzXfOv"] {
    content: "jDbmlR,gIMCZR,cXqTzK,gnEQlq,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfNQ jPtipJ">
  <div class="sc-fzXfNR jUCUjs">
    <h1>Presupuesto</h1>
  </div>
  <div class="sc-fzXfNS jvsWHL">
    <div class="sc-fzXfNc idAkJG">
      <div class="sc-fzXfNd lenLzR">
        <div><button type="button" class="sc-fzXfOq cbBVqJ actived">último mes</button></div>
        <div><button type="button" class="sc-fzXfOq cbBVqJ">último semestre</button></div>
        <div><button type="button" class="sc-fzXfOq cbBVqJ">último año</button></div>
      </div>
      <div class="sc-fzXfNd lenLzR">
        <div style="min-width:460px" class="sc-fzXfNc idAkJG">
          <div class="sc-fzXfNd lenLzR"><svg></svg></div>
          <div class="sc-fzXfNd lenLzR">
            <table style="min-width:300px" class="sc-fzXfMB hJWADG">
              <tbody>
                <tr class="sc-fzXfMC bAzGHI">
                  <td class="sc-fzXfME bAzGHK">
                    <div color="rgb(252,255,13)" class="sc-fzXfOv jDbmlR"></div>
                  </td>
                  <td class="sc-fzXfME bAzGHK">Rechazados</td>
                  <td class="sc-fzXfME bAzGHK">2 vehiculos 10%</td>
                </tr>
                <tr class="sc-fzXfMC bAzGHI">
                  <td class="sc-fzXfME bAzGHK">
                    <div color="rgb(34,255,6)" class="sc-fzXfOv gIMCZR"></div>
                  </td>
                  <td class="sc-fzXfME bAzGHK">Sin Revisar</td>
                  <td class="sc-fzXfME bAzGHK">7 vehiculos 22%</td>
                </tr>
                <tr class="sc-fzXfMC bAzGHI">
                  <td class="sc-fzXfME bAzGHK">
                    <div color="rgb(176,176,176)" class="sc-fzXfOv cXqTzK"></div>
                  </td>
                  <td class="sc-fzXfME bAzGHK">Aprobados P</td>
                  <td class="sc-fzXfME bAzGHK">26 vehiculos 33%</td>
                </tr>
                <tr class="sc-fzXfMC bAzGHI">
                  <td class="sc-fzXfME bAzGHK">
                    <div color="rgb(251,0,6)" class="sc-fzXfOv gnEQlq"></div>
                  </td>
                  <td class="sc-fzXfME bAzGHK">Aprobados</td>
                  <td class="sc-fzXfME bAzGHK">42 vehiculos 35%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="sc-fzXfNd lenLzR">
        <div class="sc-fzXfOs dsPibT">Aprobados</div>
        <div class="sc-fzXfOr dPwSg">
          <table class="sc-fzXfMB hJWADG sc-fzXfOt flKgVM">
            <thead>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">IDE</td>
                <td class="sc-fzXfME bAzGHK">PATENTES</td>
              </tr>
            </thead>
            <tbody>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7959</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">CPFA-43</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5219</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">CQAF-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4346</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">QEFH-27</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7793</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">KPJQ-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0346</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">GINB-97</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5806</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">HIAA-71</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9585</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">GBIQ-29</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4477</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">GCCM-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7245</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">EOKL-42</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5392</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">GOMQ-76</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9246</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">AAJI-37</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4593</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">NBEK-89</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0061</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">DJDP-46</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4328</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">ABQM-65</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1324</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">IBHG-69</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7807</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">OEDJ-87</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5236</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">HNFP-85</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">2514</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">EJJM-53</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5266</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">ONFB-35</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7821</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">HKBG-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1195</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">AHQI-44</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1700</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">DNQP-39</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7746</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">ONAB-06</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8742</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">DCFA-09</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">6870</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">EGDD-62</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8318</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">KHME-67</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1152</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">PDJE-73</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7611</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">OMQE-81</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">7737</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">EBIF-18</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">4708</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">EDLG-12</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">3302</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">NJOF-11</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">8046</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">DGOH-38</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5394</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">CPGI-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">1641</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">FOFP-24</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9527</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">LMIG-21</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0539</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">KOKL-72</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">5022</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">HIDJ-13</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">0672</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">ICJE-92</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9282</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">OLHC-59</td>
              </tr>
              <tr class="sc-fzXfMC bAzGHI">
                <td class="sc-fzXfME bAzGHK">9889</td>
                <td class="sc-fzXfME sc-fzXfOu gDirrb">IONP-21</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>