<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .fILqBV {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  data-styled.g23[id="sc-fzXfMy"] {
    content: "fILqBV,"
  }

  .qGMMn {
    background-color: #ff9a01;
    padding: 10px;
  }

  .qGMMn h1 {
    color: white;
    font-size: 28px;
  }

  .qGMMn h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g24[id="sc-fzXfMz"] {
    content: "qGMMn,"
  }

  .cdxjyP {
    width: calc(100% - 40px);
    margin: 20px;
    box-sizing: auto;
  }

  data-styled.g46[id="sc-fzXfNP"] {
    content: "cdxjyP,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMy fILqBV">
  <div class="sc-fzXfMz qGMMn">
    <h1>Deducible y tiempo entrega</h1>
    <h2>Deducible v/s tiempo</h2>
  </div>
  <div class="sc-fzXfMA bAzGHG"><img src="/static/graphBar.png" class="sc-fzXfNP cdxjyP" /></div>
</div>