<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .laxvaL {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000012, 0px 2px 2px 0px #00000029;
    border-radius: 4px;
    overflow: hidden;
  }

  data-styled.g27[id="sc-fzXfMC"] {
    content: "laxvaL,"
  }

  .egkRsx {
    background-color: #ff9a01;
    padding: 10px;
  }

  .egkRsx h1 {
    color: white;
    font-size: 28px;
  }

  .egkRsx h2 {
    color: #9fe4fa;
    font-size: 19px;
  }

  data-styled.g28[id="sc-fzXfMD"] {
    content: "egkRsx,"
  }

  .kwcfql {
    width: calc(100% - 40px);
    margin: 20px;
    box-sizing: auto;
  }

  data-styled.g50[id="sc-fzXfOq"] {
    content: "kwcfql,"
  }
</style>

<!-- HTML -->
<div class="sc-fzXfMC laxvaL">
  <div class="sc-fzXfMD egkRsx">
    <h1>Deducible y tiempo entrega</h1>
    <h2>Deducible v/s tiempo</h2>
  </div>
  <div class="sc-fzXfME bAzGHK"><img src="/static/graphBar.png" class="sc-fzXfOq kwcfql" /></div>
</div>