<base href="https://verificar.jondotsoy.now.sh">

<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .YIEdf {
    width: 40px;
    height: 40px;
    fill: white;
  }

  .YIEdf.revert {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  data-styled.g4[id="sc-AykKF"] {
    content: "YIEdf,"
  }
</style>

<!-- HTML -->
<svg class="sc-AykKC sc-AykKD sc-AykKF YIEdf" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
  <path fill="none" d="M0 0h24v24H0z"></path>
</svg>