<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .bgiVpR {
    width: 40px;
    height: 40px;
    fill: white;
  }

  data-styled.g2[id="sc-AykKD"] {
    content: "bgiVpR,"
  }
</style>

<!-- HTML -->
<svg class="sc-AykKC sc-AykKD bgiVpR" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"></path>
  <path fill="none" d="M0 0h24v24H0z"></path>
</svg>