<!-- Global dep -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&amp;display=swap" rel="stylesheet" />
<link href="https://unpkg.com/reset.css@2.0.2/reset.css" rel="stylesheet" />

<!-- Styles -->
<style data-styled data-styled-version="5.0.0-beta.8">
  .bgiVpR {
    width: 40px;
    height: 40px;
    fill: white;
  }

  data-styled.g2[id="sc-AykKD"] {
    content: "bgiVpR,"
  }
</style>

<!-- HTML -->
<svg class="sc-AykKC sc-AykKD bgiVpR" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve">
  <g>
    <g>
      <path d="M28,7V3H0v22c0,0,0,4,4,4h25c0,0,3-0.062,3-4V7H28z M4,27c-2,0-2-2-2-2V5h24v20
          c0,0.921,0.284,1.559,0.676,2H4z"></path>
      <rect x="4" y="9" width="20" height="2"></rect>
      <rect x="15" y="21" width="7" height="2"></rect>
      <rect x="15" y="17" width="9" height="2"></rect>
      <rect x="15" y="13" width="9" height="2"></rect>
      <rect x="4" y="13" width="9" height="10"></rect>
    </g>
  </g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
  <g></g>
</svg>